@{
    ViewData["Title"] = "Home Page";
    Layout = "_VarLayout";
}

<div id="main-page" class="main-page">
    
</div>
<script>
    var mainSection = document.getElementById("services");
    mainSection.style.background = "black";
    var mainPageVarImg = document.getElementById('main-page');
    mainPageVarImg.parentNode.classList.remove("container");
    var mainNavBar = document.getElementById("mainNav");
    mainNavBar.style.backgroundColor = "transparent";

</script>